
.loginframe{
  background-color: rgba(238, 214, 192, 0.801);
  align-self: center;
  display: flex;
  height: 100%;
  .container {
    margin-top: 5em;
    max-width: 25%;
    min-width: 200px;
  }

}


.button.is-success{
  background-color: rgb(8, 168, 94);
}
